<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- apply this to get the colors from variables.scss bg-color="background" -->
<ion-content padding>

  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-label stacked>Message:</ion-label>
      <ion-textarea #message formControlName="message"></ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!messageForm.controls.message.valid  && messageForm.controls.message.dirty">
      <p>Your message needs some content.</p>
    </ion-item>
    <button ion-button type="submit" >Submit</button>
  </form>

  <ion-list>
    <ion-item *ngFor="let message of messageList | async">
      {{ message.message }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full color="danger" (click)="logoutHome()">Logout</button>
  </ion-toolbar>
</ion-footer>
