<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- apply this to get the colors from variables.scss bg-color="background" -->
<ion-content padding>

  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-label stacked>Message:</ion-label>
      <ion-textarea #data formControlName="data"></ion-textarea>
    </ion-item>
    <ion-item class="error-message" *ngIf="!messageForm.controls.data.valid  && messageForm.controls.data.dirty">
      <p>Your message needs some content.</p>
    </ion-item>
    <button ion-button type="submit" >Submit</button>
  </form>

  <ion-card *ngFor="let message of messageList | async">
    <ion-card-header class="whiteText">
      {{ message.user }}
    </ion-card-header>
    <ion-card-content class="whiteText">
      <h2>{{ message.data }}</h2>
      <p>Posted: {{ message.time }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full color="danger" (click)="logoutHome()">Logout</button>
  </ion-toolbar>
</ion-footer>
