page-home {
  // how to style, these talk to variables.scss
  // [ bg-color="background" ] {
  //   background-color: color( $colors, background-color);
  // }
  //
  // [ bg-color="footer-background" ] {
  //   background-color: color( $colors, footer-background-color);
  // }

  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .whiteText {
    color: white;
    font-weight: bold;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }
}
